@import "./reset.css";

.container {
     width: 1290px;
     margin: 0 auto;
     /* border: 1px solid red; */
}

.nav {
     display: flex;
     margin-top: 17px;
     margin-bottom: 22px;
     column-gap: 30px;
     list-style: none;
}

.nav-link {
}

hr {
    border: none; /* Убираем границу */
    height: 2px; /* Толщина линии */
    background-color: #E7ECEF;
    width: 1920px;
   }

.header {
     display: flex;
     align-items: center;
     justify-content: space-between;

     margin-top: 25px;
     margin-bottom: 29px;
}

.wrapper-left {
     display: flex;
     column-gap: 80px;
}

.socials {
     display: flex;
     column-gap: 8px;
}